body {
	font: 100% Arial, Helvetica, sans-serif;
	color: #333333;
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
a {
	color: #4d76e0;
	text-decoration: none;
}
a:visited {
	color: #4d7bf1;
}
a:hover {
	color: #FFF;
	background-color: #839de0;
}
form {
	margin: 0px;
	padding: 0px;
	display: inline;
}
